/* lav font size responsive med: "font-size:8vw" viewport */
.pretitle {
    font-size: calc(20px + 1vw);
}

.title {
    font-size: calc(45px + 2.5vw);
}

.subtitle {
    font-size: calc(15px + 1vw);
}