@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6, label {
    overflow-wrap: break-word;
    font-family: 'Roboto', sans-serif;
}
.stable-scrollbar {
    overflow-y: auto;
    scrollbar-gutter: stable;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}
  
/* Track */
::-webkit-scrollbar-track {
    margin-top: 64px;
    background: #f1f1f1;
}

.project-frame::-webkit-scrollbar-track {
    margin-top: 0px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #bbb;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}
#root, #__next {
    isolation: isolate;
}

.inner-shadow {
    mask-image: linear-gradient(to bottom, black calc(100% - 40px), transparent 100%);
}