html {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #050505;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #0f0f0f;
}